:root {
  --FClr: rgba(211, 190, 3, 0.361);
}

body {
  background-color: gray;
}

.container{
 position: absolute;
width: 300px;
height: 20px;
/* margin-top: 10em; */
border: 3px dotted blue;
/* top: 3; */
/* bottom: 30; */
left: 0;
right: 0;
margin: 17em 37em;
border-radius: 50%;}

.orby {
 width: 30px;
 height: 30px;
 background: rgb(255, 176, 4);
 border-radius: 50%;
 position:absolute;
 top:0;
 bottom: 0;
 left: 0;
 right: 0;
 overflow: hidden;
 /* margin: auto; */
 margin-top: -5em;
 z-index: 1;
 -webkit-animation: circle 5s linear infinite;
 animation: circle 5s;
 animation-iteration-count: 2;

}

@-webkit-keyframes circle {
  from{
    transform: rotate(0deg) translate(-165px)
    rotate(0deg);
  }

  to{
    transform: rotate(360deg)translate(-165px)
    rotate(-360deg);
    box-shadow: 0 0 0 30px var(--FClr,),
    0 0 0 60px var(--FClr),
    0 0 0 120px var(--FClr),
    0 0 0 240px var(--FClr), 
    0 0 0 480px var(--FClr),
    0 0 0 960px var(--FClr),
    0 0 0 1920px var(--FClr);
  }
}

@keyframes circle {
  from{
    transform: rotate(0deg) translate(-165px)
    rotate(0deg);
  }

  to{
    transform: rotate(360deg)translate(-165px)
    rotate(-360deg);
    box-shadow: 0 0 0 30px var(--FClr,),
    0 0 0 60px var(--FClr),
    0 0 0 120px var(--FClr),
    0 0 0 240px var(--FClr), 
    0 0 0 480px var(--FClr),
    0 0 0 960px var(--FClr),
    0 0 0 1920px var(--FClr);
  }
}
